body {
      background: white;
    }
    
    .princ {
      border: 2px outset #00ff00;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 100px;
      background: #1e1e1e;
      color: #fff;
    }
    
    .secu {
      text-align: center;
      margin-top: 20px;
    }
    
   input {
     padding: 14px 16px;
     margin-top: 30px;
   }
   
   .secu p {
     font-size: 25px;
     padding-top: 20px;
     font-weight: bold;
     text-align: center;
   }
   
   .secu h1 {
     font-size: 37px;
   }
  

   span {
     color: #00ff00;
   }

